:root {
    --color-main: #152134;
    --green-color: #24ACF2;
    --color-nav: #1d488b;
    --section-color: #e2dede;
    --yello-color: #ffd000;
}
body {
    font-family: sans-serif;
}
ul li {
    cursor: pointer;
}
/* Start Hdeader */
.header .navbar-brand img {
    width: 70px;
}
.header {
    height: 100vh;
    background: url(../imgs/artone.jpg)
}
.header .panner .main-text .text h1{
    letter-spacing: .5rem;
    font-size: 4rem
}
.header .panner .main-text .text p {
    font-style: italic;
    letter-spacing: .1rem;
}
/* End Hdeader */
/* Start Section what Offer */
.what-offer .container > p {
    color: var(--yello-color);
}
.what-offer .container h2 {
    font-size: 3rem;
    
    
}
footer.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
footer.footer .social-link {
  display: block;
  text-decoration: none;
  height: 4rem;
  width: 4rem;
  line-height: 4.3rem;
  font-size: 1.5rem;
  background-color: #1D809F;
  transition: background-color 0.15s ease-in-out;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}
footer.footer .social-link:hover {
  background-color: #155d74;
  text-decoration: none;
}
.what-offer .container .row svg {
    font-size: 30px;
    color: var(--green-color);
}
/* End Section what Offer */
/* Start Section Welcome website */
.content-section {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }
  .content-section-heading h2, .content-section-heading .h2 {
    font-size: 3rem;
  }
  .content-section-heading h3, .content-section-heading .h3 {
    font-size: 1rem;
    text-transform: uppercase;
  }
  .portfolio-item {
    display: block;
    position: relative;
    overflow: hidden;
    max-width: 530px;
    margin: auto auto 1rem;
  }
  .portfolio-item .caption {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(33, 37, 41, 0.2);
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
  }
  .portfolio-item .caption .caption-content {
    color: #fff;
    margin: auto 2rem 2rem;
  }
  .portfolio-item .caption .caption-content h2, .portfolio-item .caption .caption-content .h2 {
    font-size: 0.8rem;
    text-transform: uppercase;
  }
  .portfolio-item .caption .caption-content p {
    font-weight: 300;
    font-size: 1.2rem;
  }
  @media (min-width: 992px) {
    .portfolio-item {
      max-width: none;
      margin: 0;
    }
    .portfolio-item .caption {
      transition: background-color 0.7s, -webkit-clip-path 0.25s ease-out;
      transition: clip-path 0.25s ease-out, background-color 0.7s;
      transition: clip-path 0.25s ease-out, background-color 0.7s, -webkit-clip-path 0.25s ease-out;
      -webkit-clip-path: inset(0px);
              clip-path: inset(0px);
    }
    .portfolio-item .caption .caption-content {
      transition: opacity 0.25s;
      margin-left: 5rem;
      margin-right: 5rem;
      margin-bottom: 5rem;
    }
    .portfolio-item img {
      transition: -webkit-clip-path 0.25s ease-out;
      transition: clip-path 0.25s ease-out;
      transition: clip-path 0.25s ease-out, -webkit-clip-path 0.25s ease-out;
      -webkit-clip-path: inset(-1px);
              clip-path: inset(-1px);
    }
    .portfolio-item:hover img {
      -webkit-clip-path: inset(2rem);
              clip-path: inset(2rem);
    }
    .portfolio-item:hover .caption {
      background-color: rgba(29, 128, 159, 0.9);
      -webkit-clip-path: inset(2rem);
              clip-path: inset(2rem);
    }
  }
  .callout {
    padding: 15rem 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url(../imgs/bg-callout.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .callout h2, .callout .h2 {
    font-size: 3.5rem;
    font-weight: 700;
    display: block;
    max-width: 30rem;
  }
  .btn-xl {
    padding: 1.25rem 2.5rem;
  }
.map
  {
    height: 75%;
  }

  .map iframe
  {
    width: 100%;
    height: 100%;
    border: 0;
  }
